---

---

<!-- <section class="h-[50vh] bg-slate-600 py-5 px-10 flex flex-col justify-between shadow-2xl"> -->
<section class="h-[50vh] bg-[url('/hero.jpg')] background-image py-5 px-10 flex flex-col justify-between lg:justify-end shadow-2xl">
	<div class="text-center lg:text-start">
		<h2 class="text-white text-4xl py-4 px-1">
			We got a lot of tickets
		</h2>
		<p class="text-white text-2xl lg:pb-10">yes it is true, all in one place, one spot, one ticket, many tickets, yes</p>
	</div>
	<button class="text-white bg-black w-full lg:w-2/5 border-2 border-white rounded-lg bg-sky-700 py-5 px-10 mb-10 self-start hover:bg-white hover:text-black transition ease-in-out delay-150 duration-200">GET TICKETS</button>
</section>

<style>
	.background-image{
		background-position: 50% 25%;
		background-size: cover;
		background-repeat: no-repeat;
	}
</style>
