---

---

<section class="h-[50vh] bg-slate-600 py-5 px-10 flex flex-col justify-between">
	<div class="text-center">
		<h2 class="text-white text-4xl py-4 px-1">
			We got a lot of tickets
		</h2>
		<p class="text-white text 2xl">yes it is true, all in one place, one spot, one ticket, many tickets, yes</p>
	</div>
	<button class="text-white w-2/5 border-2 border-transparent rounded-lg bg-sky-700 py-2 px-5 mb-10 self-start">GET TICKETS</button>
</section>

<style>

</style>
