---
import PopularCard from "./PopularCard.astro";
---

<section class="p-4 m-4">
    <h2 class="text-4xl">Popular</h2>
    <section class="overflow-x-scroll flex flex-row h-[30svh] py-4">
        <PopularCard title="Golf Tour 1993" imageUrl="/popular1.jpg" alt="Golf ball in grass field" />
        <PopularCard title="Drummer guy" imageUrl="/popular2.jpg" alt="Guy in shirt playing drums" />
        <PopularCard title="Opera Nice" imageUrl="/popular3.jpg" alt="Old opera building" />
        <PopularCard title="Cool Teatre" imageUrl="/popular4.jpg" alt="Girl unblindfolding guy" />
    </section>
    <a href="">View all</a>
</section>
